# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/bin/
/data/raw/

# Ignore ward level OD matrix
/Protecs/src/main/resources/ipums_daily_transition_count-ward-pre-lockdown_i5_correct_rounding.csv
